@(userAssignmentForm: Form[forms.AssignmentData])(implicit messages:MessagesProvider,request: RequestHeader,flash: Flash)
@import helper._
@main("Add Assignment"){
<div>
    @adminNavBar()
</div>
<form action="@routes.AdminController.addAssignment()" method="post">
    @CSRF.formField
    <div class="row">
        <div class="form-group col-xs-2">
            <label for="title">Title:</label>
            <input type="text" class="form-control" name="title" id="title">
            <p class="error-message">@userAssignmentForm("title").error.map{error => @error.message}</p>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="form-group col-xs-2">
            <label for="description">Description:</label>
            <textarea class="form-control" name="description" id="description"></textarea>
            <p class="error-message">@userAssignmentForm("description").error.map{error => @error.message}</p>
        </div>
    </div>
    <br>
    <button type="submit" class="btn btn-default">Add Assignment</button>
</form>
}