@(ForgetPasswordForm: Form[forms.ForgetPassword])(implicit flash: Flash,messages: MessagesProvider,request: RequestHeader)
@import helper._
<div class="message">@flash.get("not exists").getOrElse("")</div>
@main("Forgot password"){
<h3>Forget Password Form</h3>
@if(ForgetPasswordForm.hasGlobalErrors) {
<p class="error-message">
    @ForgetPasswordForm.globalError.map{ error => @error.message}
</p>
}
<form action="@routes.LoginController.changePassword()" method="post">
    @CSRF.formField
    <div class="row">
        <div class="form-group col-xs-2">
            <label for="username">Username:</label>
            <input type="text" class="form-control" name="username" id="username">
            <p class="error-message">@ForgetPasswordForm("username").error.map{error => @error.message}</p>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-xs-2">
            <label for="newpassword">New Password:</label>
            <input type="text" class="form-control" name="newPassword" id="newpassword">
            <p class="error-message">@ForgetPasswordForm("password").error.map{error => @error.message}</p>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-xs-2">
            <label for="confirmpassword">Confirm Password:</label>
            <input type="text" class="form-control" name="confirmPassword" id="confirmpassword">
            <p class="error-message">@ForgetPasswordForm("password").error.map{error => @error.message}</p>
        </div>
    </div>
    <button type="submit" class="btn btn-default">Change Password</button>
    <br><br>
</form>
}