@(userLoginForm: Form[forms.LoginUser])(implicit messages:MessagesProvider,request: RequestHeader,flash: Flash)
@import helper._
<div>@flash.get("logged out").getOrElse("")</div>
<div>@flash.get("incorrect user").getOrElse("")</div>
<div>@flash.get("user exists").getOrElse("")</div>
<div>@flash.get("disabled").getOrElse("")</div><br>
<form action="@routes.LoginController.handleLogin()" method="post">
    @CSRF.formField
    <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" class="form-control" name="username" id="username">
        @userLoginForm("username").error.map{error => @error.message}
    </div><br>
    <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control" name="password" id="password">
        @userLoginForm("password").error.map{error => @error.message}
    </div><br>
    <button type="submit" class="btn btn-default">Login</button><br><br>
    <a href="@routes.LoginController.showForgetPasswordForm()">Forgot Password</a>
</form>