@(listOfAssignments: List[Assignment])(implicit request: RequestHeader)
@main("Assignments list"){
<div>
    @userNavBar()
</div>
<br>
<br>
<div class="container">
    <div class="text-center">
        <h2>List of Assignments</h2>
        <table class="table table-striped table-bordered table-fixed">
            <thead>
            <tr>
                <th class="text-center">Title</th>
            </tr>
            </thead>
            <tbody>
            @for(assignment <- listOfAssignments){
            <tr>
                <td>@assignment.title</td>
            </tr>
            }
            </tbody>
        </table>
    </div>
</div>
}