@()
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">User Details</a>
        </div>
        <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link active" href="@routes.ProfileController.displayUser()">Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@routes.AdminController.viewAssignments()">View Assignment</a>
        </li>
    </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="@routes.ProfileController.logout()"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
            </li>
        </ul>
    </div>
</nav>